/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color:#444F5D;
    color:white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header img.logo {
    width: 100px; /* Adjust size as needed */
    margin: 0 auto;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-image: url('Images/Portfolio Hero Page Background.png');
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
    text-align: center;
}

.flexContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flexContainer div {
    width: 30%; /* Adjust based on preference */
    margin: 10px;
    text-align: center;
}

.flexContainer img {
    max-width: 100%; /* Ensures the image is responsive */
    height: auto;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
}
